body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.h2{
    font-size: 40px;
}
.arvy{
    color: rgb(21, 255, 255);
}
.flexiable_container{
    display: flex;
    margin-bottom: 150px;
}
.half_width{
    width: 50%;
    padding-left: 5%;
}
.half_width img{
    width: 70%;
}
.link_btn{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700;
    color: black;

}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.experience_item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    
    
}
.experience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web_dev_experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue,aqua);
    border-image-slice: 1;
    
}
#full_stack_experience{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}






